body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-btn: #244105;
  --secondary-btn: #6e7881;
  --cancel-btn: #dc3741ed;
  /* =========== SoMo Marketing Root============ */
  --primary-color: #2542a7;
  --light-color: #467ec0;
  --tertiary-color: #212121;
  --secondary-color: #abdb04;
  --text-grey-color: #8f8f8f;
  --light-green-color: rgba(171, 219, 4, 0.16);
  --dark-blue: #161d5a;
  --light-grey-color: rgba(143, 143, 143, 0.16);
  --grey-color: #8f8f8f;
  --red-color: #db0404;
  --light-red-color: rgba(219, 4, 4, 0.16);
  --grediant-bg: linear-gradient(225deg, #e8f405 0%, #abdb04 100%);
  --linear-gradient-bg: linear-gradient(225deg, #2542a7 0%, #161d5a 100%);
  --search-filter: #467ec01c;
  --color-01: linear-gradient(
    190deg,
    rgba(231, 152, 188, 1) 0%,
    rgba(216, 91, 149, 1) 100%
  );
  --color-02: linear-gradient(
    190deg,
    rgba(150, 148, 193, 1) 0%,
    rgba(103, 101, 166, 1) 100%
  );
  --color-03: linear-gradient(
    190deg,
    rgba(242, 209, 178, 1) 0%,
    rgba(231, 169, 111, 1) 100%
  );
  --color-04: linear-gradient(145deg, #f06a69 0%, #f7b1b0 100%);
  --color-05: linear-gradient(
    190deg,
    rgba(167, 203, 211, 1) 0%,
    rgba(129, 181, 192, 1) 100%
  );
  --color-06: linear-gradient(
    145deg,
    rgba(150, 148, 193, 1) 0%,
    rgba(103, 101, 166, 1) 100%
  );
  --color-07: linear-gradient(145deg, #23b3c7 0%, #97e2ed 100%);
  --color-08: linear-gradient(145deg, #5d82f4 0%, #b3c4fa 100%);
  --color-09: linear-gradient(145deg, #8cd9b4 0%, #3db87c 100%);
  --color-10: linear-gradient(145deg, #6cd6e5 0%, #20a4b6 100%);
  --color-11: linear-gradient(145deg, #f3ca7d 0%, #ba8112 100%);
  --color-12: linear-gradient(145deg, #f7b1b0 0%, #f06a69 100%);
}

/* ============= BUTTON BG COLOR UTIL =============== */
.primary_btn {
  background: var(--primary-btn) !important;
}
.secondary_btn {
  background: var(--secondary-btn) !important;
}
.clear_btn {
  background: var(--cancel-btn) !important;
}

/* css for pop */
/* 
customClass: {
  container: '...',
  popup: '...',
  header: '...',
  title: '...',
  closeButton: '...',
  icon: '...',
  image: '...',
  htmlContainer: '...',
  input: '...',
  inputLabel: '...',
  validationMessage: '...',
  actions: '...',
  confirmButton: '...',
  denyButton: '...',
  cancelButton: '...',
  loader: '...',
  footer: '....',
  timerProgressBar: '....',
}

*/
.save_button_popUP {
  outline-color: transparent !important;
  box-shadow: none !important;
  border-color: #244105 !important;
  background-color: #244105 !important;
}

/* css for toolbar actions */
.toolbar_actions_container {
  display: flex;
  flex-wrap: wrap;
}

/* QR input */
.qr_input {
  border: 1px solid !important;
  border-radius: 5px !important;
  font-size: 1em !important;
  margin-bottom: 20px;
}
/* QR button  */
.qr_button_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.qr_button {
  border: 0 !important;
  border-radius: 0.25em !important;
  color: #fff !important;
  font-size: 1em !important;
}

/* Qr button in popup */
.popup_qr_button {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #7066e0;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin: 0.3125em;
  padding: 0.625em 1.1em;
  transition: box-shadow 0.1s;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  font-weight: 500;
}
/* =============== POLOTNO STYLES ================ */

/* overwrite colors for side-panel tabs */
.bp5-dark .polotno-side-tabs-container .polotno-side-panel-tab:hover,
.bp5-dark .polotno-side-tabs-container .polotno-side-panel-tab.active {
  background-color: #c8c52d !important;
  color: white !important;
}

/* change hover style of all buttons */
.bp5-dark .bp5-button:not([class*="bp5-intent-"]):hover {
  background-color: #c8c52d !important;
}

/* change main color of all active buttons */
.bp5-dark
  .polotno-app-container
  .bp5-button:not([class*="bp5-intent-"])
  .bp5-icon:not([class*="bp5-intent-"]) {
  color: white !important;
}
.bp5-dark .polotno-app-container .bp5-button.bp5-minimal.bp5-disabled {
  color: rgba(171, 179, 191, 0.6) !important;
}

/* ================== ToolTip CSS ======================== */
.custom-tooltip-container {
  position: relative;
  display: inline-block;
}

.custom-tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.custom-tooltip-container:hover .custom-tooltip {
  opacity: 1;
}
/* =================================== */

.toolbar_buttons {
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.toolbar_buttons span svg {
  height: 1em;
  width: 1em;
  font-size: 20px;
}

.toolbar_buttons:hover {
  background: #5f6b7c1a !important;
}
/* .toolbar_buttons:hover.toolbar_buttons span svg{
  fill: var(--secondary-color) !important;
} */

/* .bp4-navbar-group.bp4-align-right{
border: 1px solid red;
} */
